  body, html {
            height: 100%;
            margin: 0;
            font-family: "Helvetica", sans-serif;
            background-color: #F2E1E1;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        h1 {
            font-size: 120px;
            font-weight: bold;
            color: #C17171;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            margin-left: 0px;
        }
        .spacer-24 {
            height: 24px;
            width: 24px;
        }
        .spacer-48 {
            height: 48px;
            width: 48px;
        }
